@font-face {
    src:    url(../fonts/ebgaramondmedium.woff2) format('woff2'),
             url(../fonts/ebgaramondmedium.woff) format('woff'),
             url(../fonts/ebgaramondmedium.ttf) format('truetype');	
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    src: url(../fonts/ebgaramondregular.woff2) format('woff2'),
         url(../fonts/ebgaramondregular.woff) format('woff'),
         url(../fonts/ebgaramondregular.ttf) format('truetype');	
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-display: swap;
} 

@font-face {
    src: url(../fonts/interbold.woff2) format('woff2'),
         url(../fonts/interbold.woff) format('woff'),
         url(../fonts/interbold.ttf) format('truetype');	
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-display: swap;
} 

@font-face {
    src: url(../fonts/interregular.woff2) format('woff2'),
         url(../fonts/interregular.woff) format('woff'),
         url(../fonts/interregular.ttf) format('truetype');	
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-display: swap;
} 
