@font-face {
  font-family: 'EB Garamond', serif;
  src: url(./ebgaramondmedium.woff2) format('woff2'),
    url(./ebgaramondmedium.woff) format('woff'),
    url(./ebgaramondmedium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond', serif;
  src: url(./ebgaramondregular.woff2) format('woff2'),
    url(./ebgaramondregular.woff) format('woff'),
    url(./ebgaramondregular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(./interbold.woff2) format('woff2'),
    url(../fonts/interbold.woff) format('woff'),
    url(../fonts/interbold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../fonts/interregular.woff2) format('woff2'),
    url(./interregular.woff) format('woff'),
    url(./interregular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}
